.Controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 7.1rem;

  display: flex;
  flex-direction: row;

  background-color: rgba(0, 47, 42, 0.7);
}

.InfoText {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 26px 1rem 1rem 1rem;
}

.InfoText h1 {
  margin: 0px;
  font-size: 1.8rem;
}

.InfoText h1 a {
  margin: 0px;
  font-size: 1.8rem;

  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted rgb(91, 160, 153, 0.4);
}

.InfoText h4 {
  margin: 0px;
  margin-top: 0.1rem;
  font-style: italic;
  font-weight: 100;
  font-family: "PT Serif", serif;
  color: #5ba099;
  text-decoration: none;
  user-select: none;
}

.SliderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08564c;
  min-width: 10%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  border-left: 1px solid #002f2a;
  border-right: 1px solid #002f2a;
  cursor: pointer;
}

.SliderButton:hover {
  opacity: 0.8;
}

.SliderButton img {
  height: 1.5rem;
}

.left {
  transform: rotateY(180deg);
}

.pips {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px 0px 0px 0px;
  padding: 0px;
}

.pip {
  width: 6px;
  height: 6px;
  background-color: white;
  opacity: 0.4;
  border-radius: 50%;
  margin: 2px 2px;
  cursor: pointer;
}

.pip.active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.Counter {
  position: absolute;
  font-size: 0.8rem;
  color: #fff;
  right: 1rem;
  top: 1rem;
}
