.MapPane {
  flex-basis: calc(100% / 26 * 16);
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #00695f;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.Inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  /* padding: 0px 2rem; */
}
