.MiniMap {
  position: absolute;
  top: 1rem;
  left: 1rem;

  border: 3px solid;
  border-color: white;
  border-radius: 15px;
  overflow: hidden;

  z-index: 400;
}

/* .MiniMap .leaflet-pane {
  width: 180px;
  height: 180px;
} */
