.Article {
  display: flex;
  justify-content: center;
}

.Article > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 6rem;
  padding-bottom: 50px;
}

.Article h1,
.Article h2,
.Article h3,
.Article h4,
.Article h5,
.Article h6,
.Article p,
.Article ol,
.Article ul,
.Article dl,
.Article table,
.Article blockquote,
.Article figure,
.Article code {
  margin: 0px;
  width: 800px;
  max-width: 90%;
}

.Article figcaption {
  display: none;
}

.Article p,
.Article h1,
.Article h2 {
  padding-left: 10px;
  padding-right: 10px;
}

.Article p {
  color: rgb(77, 77, 77);
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
}

.Article h1,
.Article h2,
.Article blockquote,
.Article ul,
.Article ol {
  margin-top: 3rem;
  margin-bottom: 1.2rem;
}

.Article h1 {
  color: rgb(58, 58, 58);
  font-size: 21px;
  font-weight: bold;
}

.Article h2 {
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: bold;
}

.Article blockquote {
  border-bottom-color: rgb(132, 89, 107);
  border-left-color: rgb(132, 89, 107);
  border-left-style: solid;
  border-left-width: 8px;
  border-right-color: rgb(132, 89, 107);
  border-top-color: rgb(132, 89, 107);
  font-size: 15px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.Article a {
  color: rgb(51, 51, 51);
  text-decoration: none solid rgb(51, 51, 51);
  border-bottom-color: rgb(225, 225, 225);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.Article hr {
  color: rgb(244, 243, 243);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-left-style: solid;
  border-left-width: 0;
  border-right-style: solid;
  border-right-width: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 430px;
}

.Article ol,
.Article ul {
  padding-left: 60px;
}

.Article li {
  color: rgb(77, 77, 77);
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
}

.Article code {
  border: 1px solid #d2d2d2;
  border-radius: 15px;
  background-color: #f8f8f8;
  padding: 0 5px;
  font-size: 13px;
  line-height: 16px;
}

.Article pre code {
  padding: 10px 0;
  border: 0;
}

.Article img {
  width: 800px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: block;
  border-bottom-style: none;
}

@media only screen and (max-width: 810px) {
  .Article h1,
  .Article h2,
  .Article h3,
  .Article h4,
  .Article h5,
  .Article h6,
  .Article p,
  .Article ol,
  .Article ul,
  .Article dl,
  .Article table,
  .Article blockquote,
  .Article figure,
  .Article code {
    width: 90%;
  }

  .Article img {
    width: 650px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
    border-bottom-style: none;
  }

  .Article hr {
    width: 430px;
  }

  .Article img {
    width: 90%;
    height: auto;
  }
}
