.Lightbox {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.Lightbox img {
  max-width: 70%;
  max-height: 70%;
  border: 1px solid white;
}
