.HabitatPhoto {
  position: absolute;
  bottom: 1.6rem;
  right: 1.6rem;

  z-index: 401;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  overflow: hidden;

  max-height: 6rem;
  width: 8rem;

  transition: all 0.3s ease-out;
}

.HabitatPhoto img {
  height: 100%;
  width: 100%;
}

.HabitatPhoto.zoomed {
  transition: all 0.3s ease-out;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;

  max-height: auto;
  width: auto;

  min-height: 100%;
  min-width: 100%;

  z-index: 1000;
}
