.MapPane {
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  display: flex;
  background-color: #252525;
  border: 1px solid #003d37;
  border-radius: 8px;
  box-shadow: 2px 2px 23px 5px rgba(27, 25, 26, 0.35);
}
