.SiteMarker {
  width: 2.5rem;
}

.inner {
  pointer-events: auto;
}

.SiteMarker .inner {
  transform: scale(0.6);
  transition: transform 0.1s ease-in;
  transform-origin: bottom center;

  opacity: 0.72;
  transition: opacity 0.1s ease-in;
}

.SiteMarker:hover .inner,
.SiteMarker.focused .inner {
  opacity: 1;
  transition: opacity 0.3s ease-out;

  transform: scale(1);
  transition: transform 0.3s ease-out;
}

.SiteMarker img {
  width: 100%;
}

.PlayButton {
  position: absolute;
  top: 0.05rem;
  left: 0rem;
  height: 2.5rem;
  width: 2.5rem;
}

.HabitatIcon {
  position: absolute;
  top: 0.3rem;
  left: 0rem;
  height: 1.8rem;
  width: 1.8rem;
}
