html,
body,
#root {
  font-size: 15px;
  background-color: #1e1e1e;

  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1204px) {
  html,
  body,
  #root {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1100px) {
  html,
  body,
  #root {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1000px) {
  html,
  body,
  #root {
    font-size: 12px;
  }
}

/* 
  min-height: 768px; */
