.AudioControlPane {
  flex-basis: 13rem;
  flex-shrink: 0;
  flex-grow: 0;
  background: #252525;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.Chunks {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: stretch;
  z-index: 0;
}

.Chunk {
  flex-grow: 1;
  flex-shrink: 1;
  border-left: 1px dashed #eee;
}
