.Timeline {
  flex-grow: 1;
  display: flex;
  background-color: #002f2a;
}

.Timeline button {
  width: calc(100% / 26 - 1px);
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  background-color: #006a60;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Timeline button:hover {
  opacity: 0.8;
}

.Timeline button img {
  height: 1.5rem;
}

.left {
  transform: rotateY(180deg);
}
