.TimePicker {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #002e2a;
  padding: 0px;
  margin: 0px;
}

.TimePicker li {
  padding-top: 4px;
  display: flex;
  justify-content: center;

  max-width: calc(100% / 26);
  flex-basis: calc(100% / 26);

  background-color: #006a60;

  border-top: 1px solid #002f2a;
  border-bottom: 1px solid #002f2a;
  border-left: 1px solid #002f2a;
}

.TimePicker li a {
  color: #abd3cf;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.TimePicker li a:visited {
  color: #abd3cf;
}

.TimePicker li:hover {
  opacity: 0.8;
}

.TimePicker li:first-of-type {
  border-left: 0px;
}

.TimePicker li.dud {
  cursor: auto;
}

.TimePicker li.dud:hover,
.TimePicker li.active:hover {
  opacity: 1;
}
.TimePicker .icon {
  flex-grow: 1;
}

.TimePicker .icon img {
  height: 24px;
  width: 24px;
  padding: 0.3rem;
}

.TimePicker li span {
  font-size: 0.9rem;
  font-weight: 100;
  user-select: none;
}

.indicator {
  width: 2px;
  height: 0.4rem;
  background-color: #002f2a;
  margin-top: 4px;
}

li.active {
  transition: background-color 0.3s ease-out;
  background-color: #002f2a;
}

li.active {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li.active button {
  height: 28px;
  width: 28px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 8px;
  opacity: 0.9;
}

li.active button.loading {
  transition: background-color 0.3s ease-out;
  background-color: transparent;

  padding: 10px;
}

li.active button:hover {
  opacity: 1;
}

li.active .icon {
  flex-grow: 0;
}

li.active .icon img {
  height: 17px;
  width: auto;
}

li.active .indicator {
  height: 0px;
  margin: 0px;
}
