.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  padding: 0px 2rem 0px 2rem;
  color: #fff;
  flex-shrink: 0;
  z-index: 401;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.nav img {
  width: 5rem;
}

.nav ul {
  display: flex;
  list-style: none;
  /* flex-grow: 1; */
  justify-content: flex-end;
}

.nav li {
  margin: 0px 1rem 0px 1rem;
}

.nav li a {
  font-family: "Lato", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
}

.nav li a:hover {
  text-decoration: underline;
}
