.InfoBar {
  flex-grow: 0;
  flex-shrink: 0;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 0px 1rem;
}

.ForestInfo {
  flex-grow: 1;
}

.ForestInfo h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.ForestInfo p {
  color: #abd3cf;
  margin-top: 0px;
  font-size: 0.8rem;
}

.Time {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.Time h2 {
  font-size: 3rem;
  margin: 0px;
}

.tooltip {
  position: relative;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  cursor: help;
  user-select: none;
}

.tooltip span {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  font-size: 0.8rem;

  bottom: 100%;
  left: 50%;
  margin-left: -90px;
  width: 180px;
}

.tooltip span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tooltip:hover span {
  visibility: visible;
}
