.IntroOverlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.IntroBox {
  background-color: #fff;
  width: 33%;
  min-width: 250px;
  border-radius: 5px;
  padding: 2rem 3rem;
  box-shadow: 8px 8px 23px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid #002e2a;
}
