.People {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.People img {
  width: 72px;
  height: 72px;
  margin: 1rem 6px 4px;
}

.People .NameBlock {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Name {
  text-align: center;
}

a.NameBlock span {
  border-bottom-color: rgb(225, 225, 225);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

@media only screen and (max-width: 600px) {
  .People {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .People img {
    height: 56px;
    width: 56px;
  }
}
